<div>
  <%= link_to "Retour", garden_path(@garden) %>
</div>
<div>
<h1><%= @step.order %> - <%= @step.name %></h1>
</div>

<div>
  <% @tasks.each do |task| %>
    <%= task.order %> - <%= task.name %> <br>
    <%= task.description %>
    <br>
  <% end %>
  <br>
</div>

<div>
 <%= simple_form_for(@garden_step) do |f| %>
    <div class="d-none">
    <%= f.input :status, input_html: {value: 0}%>
  </div>
      <%= button_tag(type: 'submit', class: "btn btn-light border") do %>
        <i class="icon-ok icon-white"></i> J'ai pas fini 😅
      <% end %>
  <% end %>
<br>
  <%= simple_form_for(@garden_step) do |f| %>
    <div class="d-none">
      <%= f.input :status, input_html: {value: 1}%>
    </div>
      <%= button_tag(type: 'submit', class: "btn btn-success border") do %>
        <i class="icon-ok icon-white"></i> J'ai fini ! 💪
      <% end %>
    <% end %>
</div>
