<div>
<h1><%= @step.order %> - <%= @step.name %></h1>
</div>

<div>
  <% @tasks.each do |task| %>
    <%= task.order %> - <%= task.name %> <br>
    <%= task.description %>
    <br>
  <% end %>
</div>

<div>
  <%= link_to "Retour", garden_path(@garden) %>
</div>

<div>
<%= simple_form_for(@garden_step) do |f| %>
<div class="d-none">
 <%= f.input :status, input_html: {value: "terminé"}%>
 </div>
  <%= button_tag(type: 'submit', class: "b") do %>
    <i class="icon-ok icon-white"></i> Fini
  <% end %>
 <% end %>
</div>
