<% content_for :meta_title, "#{@step.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @step.description %>

<div class="garden-steps-main-container">
  <div class="garden_steps_banner">
    <h1><%= @step.name %></h1>
  </div>

  <div class="container-show">

    <div class="data-controller" data-controller="tabs" data-tabs-active-class="active" data-tabs-default-tab-value="tab1">

    <div class="nav-nav-tabs">
      <button class="nav-link" id="tab1" data-tabs-target="btn" data-action="click->tabs#select"><h4>1</h4></button>
      <button class="nav-link" id="tab2" data-tabs-target="btn" data-action="click->tabs#select"><h4>2</h4></button>
      <button class="nav-link" id="tab3" data-tabs-target="btn" data-action="click->tabs#select"><h4>3</h4></button>
    </div>

    <div class="rounded-lg categories">
      <div data-tabs-target="tab" id="tab1" class="infos">
        <% @tasks.order(1)%>
        <div class= "infos-tech">
          <h2 class="pictogram"><i class="fa-solid fa-shop fa-2xl" style="color: #0b4f30;"></i></h2>
          <h3><%= @tasks[0].name %></h3>
          <h2 class="pictogram"><i class="fa-solid fa-trowel fa-2xl" style="color: #0b4e31;"></i></h2>
          <p><%= @tasks[0].description.html_safe %></p>
            <% if @tasks[0].name == "Aller chercher du terreau"%>
              <a href="https://www.lovethegarden.com/fr-fr/calculateur/terreau" target="_blank" class="btn-green-filled">Calcul terreau</a>
              <% else %>
            <% end %>
        </div>
      </div>

      <div data-tabs-target="tab" id="tab2" class='hidden'>
        <p><% @tasks.order(2)%></p>
            <div class= "infos-tech">
              <h2 class="pictogram"><i class="fa-solid fa-leaf fa-2xl"></i></h2>
              <h3><%= @tasks[1].name %></h3>
              <h2 class="pictogram"><i class="fa-solid fa-seedling fa-2xl"></i></h2>
              <p><%= @tasks[1].description  %></p>
            </div>
      </div>

        <div data-tabs-target="tab" id="tab3" class='hidden'>
          <p><% @tasks.order(3)%></p>
            <div class= "infos-tech">
              <h2 class="pictogram"><i class="fa-solid fa-worm fa-2xl"></i></h2>
              <h3><%= @tasks[2].name %></h3>
              <h2 class="pictogram"><i class="fa-solid fa-trowel fa-2xl" style="color: #0b4e31;"></i></h2>
              <p><%=@tasks[2].description %></p>
            </div>
        </div>
      </div>
    </div>
    <div class= "filler-div">
      <%# Div vide necessaire/ ne pas effacer %>
    </div>
  </div>

    <div class="bottom-buttons-container">

      <%= link_to garden_path(@garden_step.garden) do %>
        <div class="btnback">
          <i class="fa-solid fa-arrow-left-long"></i>
        </div>
      <% end %>

      <%= simple_form_for(@garden_step) do |f| %>
        <div class="d-none">
          <%= f.input :status, input_html: {value: 0}%>
        </div>
        <%= button_tag(type: 'submit', class: "btnback") do %>
          <i class="fa-regular fa-hourglass-half"></i>
        <% end %>
      <% end %>

      <%= simple_form_for(@garden_step) do |f| %>
        <div class="d-none">
          <%= f.input :status, input_html: {value: 1}%>
        </div>
          <%= button_tag(type: 'submit', class: "btnback") do %>
            <i class="fa-solid fa-check"></i>
          <% end %>
      <% end %>
    </div>
 </div>
