<div class="create-step-body">
  <div class="formular-title">
    <h2>Quelle va être la taille de votre petit coin de paradis ?</h2>
  </div>
  <div class="formulaire-du-potager">
    <%= form_for @garden, data: {turbo: false}, url: step3_garden_form_index_path do |f| %>
      <div class="radio-buttons">
        <div class="content-radio-button">
          <%= f.radio_button :size, ' Jardinière', id: 'size_jardiniere', class: "radio-button-to-shrink" %>
          <%= f.label :size, '  Jardinière', for: 'size_jardiniere' %>
        </div>

        <div class="content-radio-button", for='size_bac_potager'>
          <%= f.radio_button :size, ' Bac potager', id: 'size_bac_potager', class: "radio-button-to-shrink" %>
          <%= f.label :size, '  Bac potager', for: 'size_bac_potager' %>
        </div>

        <div class="content-radio-button">
          <%= f.radio_button :size, ' Potager partagé', id: 'size_potager_partage', class: "radio-button-to-shrink" %>
          <%= f.label :size, '  Potager partagé', for: 'size_potager_partage'  %>
        </div>

      </div>
    <% end %>
  </div>
  <p class="description-name">Nous avons besoin de la taille de votre futur potager afin d’optimiser au mieux les plantes choisies.</p>
  <%= image_tag "garden_create/step_2_size.png", class: "image-photo-step2" %>

  <div class="create-step-foot-container">
    <%= link_to step1_garden_form_index_path do %>
      <div class="btnback">
        <i class="fa-solid fa-arrow-left-long"></i>
      </div>
    <% end %>

    <%= button_tag :submit, form: "edit_garden_#{@garden.id}", class: "btnback", data: {turbo_method: :patch} do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
  </div>
</div>
