<div class="create-step-body">
  <div class="formular-title">
    <h2>Donnez un petit nom à votre potager</h2>
  </div>
  <div class="formulaire-du-potager">
    <%= form_for @garden, data: {turbo: false}, url: step2_garden_form_index_path do |f| %>
      <%= f.text_field :name, class: 'field-name', placeholder: "nom du potager ..." %>
    <% end %>
  </div>
  <p class="description-name">Pensez à un nom sympa comme <strong>Mon pote à moi</strong> ou <strong>Boustiflor</strong></p>
  <%= image_tag "garden_create/step_1_name.png", class: "image-photo-step1" %>

  <div class="create-step-foot-container">
    <%= link_to gardens_path do %>
      <div class="btnback">
      <i class="fa-solid fa-arrow-left-long"></i>
      </div>
    <% end %>
    <%= button_tag :submit, form: "edit_garden_#{@garden.id}", class: "btnback", data: {turbo_method: :patch} do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
  </div>
</div>
