<div class="create-step-body">
  <div class="formular-title">
    <h2>A quel moment de la journée avez vous du soleil ?</h2>
  </div>
  <div class="formulaire-du-potager">
    <%= form_for @garden, data: {turbo: false}, url: step4_garden_form_index_path do |f| %>
      <%#= f.label :Exposition %>
      <%#= f.select :exposition, ['Pas de soleil', 'Soleil le matin', 'Soleil le midi', 'Soleil en après midi'] %>
      <div class="radio-buttons">
        <div class="content-radio-button">
          <%= f.radio_button :exposition, ' Pas de soleil', id: 'expo_no_sun', class: "radio-button-to-shrink"  %>
          <%= f.label :exposition, '  Pas de soleil', for: 'expo_no_sun' %>
        </div>
        <div class="content-radio-button">
          <%= f.radio_button :exposition, ' Soleil le matin', id: 'expo_morning_sun', class: "radio-button-to-shrink"  %>
          <%= f.label :exposition, '  Soleil le matin', for: 'expo_morning_sun' %>
        </div>
        <div class="content-radio-button">
          <%= f.radio_button :exposition, ' Soleil le midi', id: 'expo_noon_sun', class: "radio-button-to-shrink"  %>
          <%= f.label :exposition, '  Soleil le midi', for: 'expo_noon_sun' %>
        </div>
        <div class="content-radio-button">
          <%= f.radio_button :exposition, ' Soleil en après midi', id: 'expo_afternoon_sun', class: "radio-button-to-shrink"  %>
          <%= f.label :exposition, '  Soleil en après midi', for: 'expo_afternoon_sun' %>
        </div>
      </div>
    <% end %>
  </div>
  <p class="description-name">A quel moment de la journée avez vous du soleil ?</p>
  <%= image_tag "garden_create/step_3_exposition.png", class: "image-photo-step3" %>

  <div class="create-step-foot-container">
    <%= link_to :back do %>
      <div class="btnback">
      <i class="fa-solid fa-arrow-left-long"></i>
      </div>
    <% end %>
    <%#= link_to step2_garden_form_index_path do %>
      <%= button_tag :submit, form: "edit_garden_#{@garden.id}", class: "btnback", data: {turbo_method: :patch} do %>
        <i class="fa-solid fa-check"></i>
      <% end %>
    <%# end %>
  </div>
</div>
