<div>
  <h1>Mes potagers</h1>
  <%= link_to new_garden_path do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
  <br>
    <% @mygardens.each do |garden| %>
      <div class= garden-card>
          <div class="garden-info">
            <h2><%= link_to garden.name, garden_path(garden) %></h2>
            <p>
              <%= garden.address %> <br>
              taille: <%= garden.size %> <br>
              exposition: <%= garden.exposition %> <br>
            </p>
          </div>

          <div class="delete-button">
            <%= link_to  garden_path(garden),
            data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"} do%>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
      </div>
    <% end %>
</div>
