<div class="garden-index-main-container">

  <%= link_to step1_garden_form_index_path do %>
    <i class="fa-solid fa-circle-plus new-garden-button"></i>
  <% end %>

  <div class="garden-index-title-container">
    <h1>Mes potagers</h1>
  </div>

  <% if @mygardens.empty? %>
    <div class="no-gardens-message">
      <div><%= image_tag "garden_pictures/bac_à_potager.png", alt: "Illustration", class: "no-gardens-picture" %></div>
      <div><p>Créez votre nouveau potager!</p></div>
      <div><%= image_tag "arrow.png", alt: "Fleche vers le bas", class: "no-gardens-arrow " %></div>
    </div>
  <% else %>
    <div class="gardens-index-cards-container">
      <% @mygardens.each do |garden| %>
        <%= link_to garden_path(garden), class: "garden-card-link" do %>
          <div class="garden-card">
            <div class="garden-index-picture-container">
              <% if garden.size == "Jardinière" %>
                <%= image_tag "garden_size/size_1_jardiniere.webp", alt: "Image d'une jardinière", class: "garden-index-picture" %>
              <% elsif garden.size == "Bac potager" %>
                <%= image_tag "garden_size/size_2_bac.jpeg", alt: "Image d'un bac potager", class: "garden-index-picture" %>
              <% else garden.size == "potager partagé" %>
                <%= image_tag "garden_size/size_3_potager.webp", alt: "Image d'un potager", class: "garden-index-picture" %>
              <% end %>
            </div>
            <div class="garden-index-info">
              <h2><%= garden.name %></h2>
              <div class="garden-index-info-bottom-line">
              <p> <%= garden.size %> </p>
                <div class="delete-garden-button">
                  <%= link_to  garden_path(garden), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"} do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
               </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
