<h1>New Garden</h1>

<%= form_with model: @garden do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :size %>
  <%= f.select :size, options_for_select(['Jardinière', 'Bac à potager', 'Potager partagé']) %>
  <%= f.label :exposition %>
  <%= f.select :exposition, options_for_select(['Pas de soleil', 'Soleil le matin', 'Soleil le midi', 'Soleil en après-midi']) %>
  <%= f.submit %>
<% end %>
