<div class="garden-body">
  <div class="garden-category" >
    <div class="cover-img-garden" style="background-image: url('<%= cl_image_path(@garden.photo.key) %>');">
      <div class="garden-name" >
        <h2><%= @garden.name %></h2>
    </div>
  </div>
     <div class="delete-button-card">
      <div class="delete-button">
        <%= link_to garden_path(@garden), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"} do %>
          <i class="fa-regular fa-trash-can" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="step">
    <% @garden_steps.each do |garden_step| %>
      <%= link_to garden_step_path(garden_step) do %>
        <div class="step-card">
          <div class="step-image">
            <%= cl_image_tag garden_step.step.photo.key, class: "img-card" %>
          </div>
          <div class="step-card-info">
            <h5>
              Étape <%= garden_step.step.order %>
            </h5>
            <p>
              <%= garden_step.step.name %>
            </p>
            <div class="status">
              <strong><%= garden_step.status %></strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <%= link_to gardens_path do %>
      <div class="btnback">
        <i class="fa-solid fa-arrow-left-long"></i>
      </div>
    <% end %>
</div>
