<h1 class="titre-form">Créer un nouveau potager - Étape 4</h1>
<div class="formulaire-du-potager">
  <%= form_with model: @garden, url: next_step_gardens_path, method: :patch do |f| %>
    <%= f.label :exposition, "Exposition" %>
    <%= f.select :exposition, options_for_select(['Pas de soleil', 'Soleil le matin', 'Soleil le midi', 'Soleil en après-midi']) %>
    <%= f.submit 'Retour', name: 'back' %>
    <%= f.submit 'Valider', name: 'submit' %>
  <% end %>
</div>
