<h1 class="titre-form">Créer un nouveau potager - Étape 3</h1>
<div class="formulaire-du-potager">
  <%= form_with model: @garden, url: next_step_gardens_path, method: :patch do |f| %>
    <%= f.label :size, "Taille" %>
    <%= f.select :size, options_for_select(['Jardinière', 'Bac potager', 'Potager partagé']) %>
    <%= f.submit 'Retour', name: 'back' %>
    <%= f.submit 'Suivant', name: 'next' %>
  <% end %>
</div>
